<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>اٰمَنَ</string>
	<string>اٰوٰی</string>
	<string>اٰنِيَةٍ</string>
	<string>ا لٰفِ</string>
	<string>اَیْنَ</string>
	<string>بِه</string>
	<string>جَآءَ </string>
	<string>جِا۟ىٓءَ </string>
	<string>جُوْعٍ</string>
	<string>خَوْفٍ</string>
	<string>خَيْرٌ</string>
	<string>دٰودُ</string>
	<string>ذٰلِكَ</string>
	<string>رَضُوْا</string>
	<string>شَا~ءَ</string>
	<string>مٰلِكِ</string>
	<string>شَىْءٍ</string>
	<string>طَغٰی</string>
	<string>طَغَوْا</string>
	<string>طَىيْرًا</string>
	<string>عَادٍ</string>
	<string>عَلیٰ</string>
	<string>عَيْنٌ</string>
	<string>فِيْهِ</string>
	<string>قَالَ</string>
	<string>قَوْلٌ</string>
	<string>كَانَ</string>
	<string>كَيْدًا</string>
	<string>كَيْفَ</string>
	<string>لَوْحٍ</string>
	<string>لَيْسَ</string>
	<string>مَالًا</string>
	<string>نَارًا</string>
	<string>مَا~ءٍ</string>
	<string>وَيْلٌ</string>
	<string>يَوْمٍ</string>
	<string>يَرَه</string>
	<string>حَاسِدٍ</string>
	<string>حَافِظٌ</string>
	<string>دَافِقٍ</string>
	<string>شَاهِدٍ</string>
	<string>عَابِدٌ</string>
	<string>عَابِدٌ</string>
	<string>عَا~ءِلًا</string>
	<string>غَاسِقٍ</string>
	<string>نَاصِرٍ</string>
	<string>وَالِدٍ</string>
	<string>اَعُوْذُ</string>
	<string>اَكِيْدُ</string>
	<string>يَخَافُ</string>
	<string>يَدٰهُ</string>
	<string>يُقَالُ</string>
	<string>تُرٰبًا</string>
	<string>حِسَابًا</string>
	<string>سُبَاتًا</string>
	<string>سِرَاجًا</string>
	<string>سَلٰمٌ</string>
	<string>شِدَادًا</string>
	<string>شَرَابًا</string>
	<string>صَوَا بًا</string>
	<string>طَعَامٍ</string>
	<string>عَذَابٌ</string>
	<string>عَطَا~ ءً</string>
	<string>غُثَا~ءً</string>
	<string>كِتٰبًا</string>
	<string>كِرَامًا</string>
	<string>لِبَاسًا</string>
	<string>لِسَانًا</string>
	<string>مَاٰبًا</string>
	<string>مَتَاعًا</string>
	<string>مُطَاعٍ</string>
	<string>مَعَاشًا</string>
	<string>مَفَازًا</string>
	<string>مِهٰدًا</string>
	<string>نَبَاتًا</string>
	<string>وِفَاقًا</string>
	<string>ثُبُوْرًا</string>
	<string>رَسُوْلٍ</string>
	<string>شُهُوْدٌ</string>
	<string>قُعُوْدٌ</string>
	<string>وُجُوْهٌ</string>
	<string>اَثِيْمٍ</string>
	<string>اَلِيْمٍ</string>
	<string>بَصِيْرًا</string>
	<string>خَبِيْرًا</string>
	<string>رَحِيْقٍ</string>
	<string>شَهِيْدٌ</string>
	<string>عَظِيْمٍ</string>
	<string>قَرِيْبًا</string>
	<string>كَرِيْمٍ</string>
	<string>مَجِيْدٌ</string>
	<string>مُحيْطٌ</string>
	<string>نَعِيْمٍ</string>
	<string>يَتِيْمًا</string>
	<string>يَسِيْرًا</string>
	<string>رُوَيْدًا</string>
	<string>قُرَيْشٍ</string>
	<string>عِيْشَةٍ</string>
	<string>اَلْمَوْءدَةُ</string>
	<string>مَوْضَوْعَةٌ</string>
	<string>مَوَازِيْنُه</string>
	<string>يَوْمَءِذٍ</string>
</array>
</plist>
