<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<string>اَوْ</string>
		<string>اَىْ</string>
	</array>
	<key>1</key>
	<array>
		<string>بَوْ</string>
		<string>بَىْ</string>
	</array>
	<key>2</key>
	<array>
		<string>تَوْ</string>
		<string>تَىْ</string>
	</array>
	<key>3</key>
	<array>
		<string>ثَوْ</string>
		<string>ثَىْ</string>
	</array>
	<key>4</key>
	<array>
		<string>جَوْ</string>
		<string>جَىْ</string>
	</array>
	<key>5</key>
	<array>
		<string>حَوْ</string>
		<string>حَىْ</string>
	</array>
	<key>6</key>
	<array>
		<string>خَوْ</string>
		<string>خَىْ</string>
	</array>
	<key>7</key>
	<array>
		<string>دَوْ</string>
		<string>دَىْ</string>
	</array>
	<key>8</key>
	<array>
		<string>ذَوْ</string>
		<string>ذَىْ</string>
	</array>
	<key>9</key>
	<array>
		<string>رَوْ</string>
		<string>رَىْ</string>
	</array>
	<key>10</key>
	<array>
		<string>زَوْ</string>
		<string>زَىْ</string>
	</array>
	<key>11</key>
	<array>
		<string>سَوْ</string>
		<string>سَىْ</string>
	</array>
	<key>12</key>
	<array>
		<string>شَوْ</string>
		<string>شَىْ</string>
	</array>
	<key>13</key>
	<array>
		<string>صَوْ</string>
		<string>صَىْ</string>
	</array>
	<key>14</key>
	<array>
		<string>ضَوْ</string>
		<string>ضَىْ</string>
	</array>
	<key>15</key>
	<array>
		<string>طَوْ</string>
		<string>طَىْ</string>
	</array>
	<key>16</key>
	<array>
		<string>ظَوْ</string>
		<string>ظَىْ</string>
	</array>
	<key>17</key>
	<array>
		<string>عَوْ</string>
		<string>عَىْ</string>
	</array>
	<key>18</key>
	<array>
		<string>غَوْ</string>
		<string>غَىْ</string>
	</array>
	<key>19</key>
	<array>
		<string>فَوْ</string>
		<string>فَىْ</string>
	</array>
	<key>20</key>
	<array>
		<string>قَوْ</string>
		<string>قَىْ</string>
	</array>
	<key>21</key>
	<array>
		<string>كَوْ</string>
		<string>كَىْ</string>
	</array>
	<key>22</key>
	<array>
		<string>لَوْ</string>
		<string>لَىْ</string>
	</array>
	<key>23</key>
	<array>
		<string>مَوْ</string>
		<string>مَىْ</string>
	</array>
	<key>24</key>
	<array>
		<string>نَوْ</string>
		<string>نَىْ</string>
	</array>
	<key>25</key>
	<array>
		<string>وَوْ</string>
		<string>وَىْ</string>
	</array>
	<key>26</key>
	<array>
		<string>هَوْ</string>
		<string>هَوْ</string>
	</array>
	<key>28</key>
	<array>
		<string>يَوْ</string>
		<string>يَوْ</string>
	</array>
</dict>
</plist>
