<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ا</string>
	<string>لا</string>
	<string>با</string>
	<string>لم</string>
	<string>ل</string>
	<string>لح</string>
	<string>بلب</string>
	<string>ک</string>
	<string>کب</string>
	<string>کا</string>
	<string>بکت</string>
	<string>تکث</string>
	<string>ب</string>
	<string>ت</string>
	<string>ث</string>
	<string>ن</string>
	<string>ی</string>
	<string>با</string>
	<string>نا</string>
	<string>تا</string>
	<string>یا</string>
	<string>ثا</string>
	<string>بس</string>
	<string>یس</string>
	<string>نس</string>
	<string>تس</string>
	<string>ثس</string>
	<string>ثج</string>
	<string>تح</string>
	<string>نخ</string>
	<string>یح</string>
	<string>بج</string>
	<string>یم</string>
	<string>بم</string>
	<string>نم</string>
	<string>تم</string>
	<string>ثم</string>
	<string>بی</string>
	<string>یی</string>
	<string>نی</string>
	<string>تی</string>
	<string>ثی</string>
	<string>نبل</string>
	<string>تنل</string>
	<string>بیل</string>
	<string>یتل</string>
	<string>ثثل</string>
	<string>نبن</string>
	<string>بنن</string>
	<string>تين</string>
	<string>یتن</string>
	<string>ثثن</string>
	<string>ج</string>
	<string>ح</string>
	<string>خ</string>
	<string>حث</string>
	<string>خب</string>
	<string>جت</string>
	<string>تحت</string>
	<string>یجب</string>
	<string>بخت</string>
	<string>ۃ</string>
	<string>ه</string>
	<string>بۃ</string>
	<string>یه</string>
	<string>ته</string>
	<string>نۃ</string>
	<string>ھ</string>
	<string>یھب</string>
	<string>بھا</string>
	<string>بهم</string>
	<string>د</string>
	<string>ذ</string>
	<string>جد</string>
	<string>خذ</string>
	<string>ر</string>
	<string>ز</string>
	<string>جر</string>
	<string>خز</string>
	<string>ر</string>
	<string>ز</string>
	<string>یر</string>
	<string>تز</string>
	<string>س</string>
	<string>ش</string>
	<string>سل</string>
	<string>شل</string>
	<string>ص</string>
	<string>ض</string>
	<string>ط</string>
	<string>ظ</string>
	<string>صب</string>
	<string>طب</string>
	<string>ضا</string>
	<string>ظا</string>
	<string>ع</string>
	<string>غ</string>
	<string>ء</string>
	<string>عز</string>
	<string>غر</string>
	<string>صع</string>
	<string>ضغ</string>
	<string>بعد</string>
	<string>تغذ</string>
	<string>ف</string>
	<string>ق</string>
	<string>و</string>
	<string>قو</string>
	<string>فو</string>
	<string>فقل</string>
	<string>قفل</string>
	<string>یف</string>
	<string>م</string>
	<string>حم</string>
	<string>لا</string>
	<string>أ</string>
	<string>ؤ</string>
	<string>ئ</string>
	<string>تم</string>
	<string>تمت</string>
</array>
</plist>
