<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>مَرُّوْا</string>
	<string>رَبِّىْ</string>
	<string>مُدَّتْ</string>
	<string>حُقَّتْ</string>
	<string>خَفَّتْ</string>
	<string>تَبَّتْ</string>
	<string>تَخَلَّتْ</string>
	<string>قَدَّمَتْ</string>
	<string>وَالصُّبْحِ</string>
	<string>وَالشَّمْسِ</string>
	<string>وَالشَّفْعِ</string>
	<string>بِاالصَّبْرِ</string>
	<string>وَالصَّيْفِ</string>
	<string>وَالَّيْلِ</string>
	<string>وَالتِّيْنِ</string>
	<string>وَالزَّيْتُوْنِ</string>
	<string>سِجَّيْلٍ</string>
	<string>سِجِّيْنٌ</string>
	<string>مُنْفَكِّيْنَ</string>
	<string>تَجَلّٰى</string>
	<string>تَصَدّٰى</string>
	<string>تَزَكّٰى</string>
	<string>تَوَلّٰى</string>
	<string>تَوَّابًا</string>
	<string>ثَجَّاجًا</string>
	<string>غَسَّاقًا</string>
	<string>فَعَّالٌ</string>
	<string>كِذَّابًا</string>
	<string>وَهَّاجًا</string>
</array>
</plist>
