<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>الٓمٓ </string>
	<string>الٓمٓصٓ </string>
	<string>الٓر</string>
	<string>الٓمٓر</string>
	<string>كٓهيعٓصٓ </string>
	<string>طه</string>
	<string>طسٓمٓ </string>
	<string>طسٓ</string>
	<string>يسٓ </string>
	<string>صٓ </string>
	<string>حمٓ </string>
	<string> عٓسٓقٓ </string>
	<string>قٓ</string>
	<string>نٓ</string>
</array>
</plist>
