<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>ءً</string>
		<string>ءٍ</string>
		<string>ءٌ</string>
		<string>باً</string>
		<string>بٍ</string>
		<string>بٌ</string>
		<string>ۃً</string>
		<string>تٍ</string>
		<string>تٌ</string>
		<string>ثًا</string>
		<string>ثٍ</string>
		<string>ثٌ</string>
		<string>جًا</string>
		<string>جٍ</string>
		<string>جٌ</string>
		<string>حًا</string>
		<string>حٍ</string>
		<string>حٌ</string>
		<string>خًا</string>
		<string>خٍ</string>
		<string>خٌ</string>
		<string>دًی</string>
		<string>دٍ</string>
		<string>دٌ</string>
		<string>ذًی</string>
		<string>ذٍ</string>
		<string>ذٌ</string>
		<string>رًا</string>
		<string>رٍ</string>
		<string>رٌ</string>
		<string>زًا</string>
		<string>زٍ</string>
		<string>زٌ</string>
		<string>سًا</string>
		<string>سٍ</string>
		<string>سٌ</string>
		<string>شًا</string>
		<string>شٍ</string>
		<string>شٌ</string>
		<string>صًا</string>
		<string>صٍ</string>
		<string>صٌ</string>
		<string>ضًا</string>
		<string>ضٍ</string>
		<string>ضٌ</string>
		<string>طًا</string>
		<string>طٍ</string>
		<string>طٌ</string>
		<string>ظًا</string>
		<string>ظٍ</string>
		<string>ظٌ</string>
		<string>عًا</string>
		<string>عٍ</string>
		<string>عٌ</string>
		<string>غًا</string>
		<string>غٍ</string>
		<string>غٌ</string>
		<string>فًا</string>
		<string>فٍ</string>
		<string>فٌماً</string>
		<string>قًا</string>
		<string>قٍ</string>
		<string>قٌ</string>
		<string>کًا</string>
		<string>کٍ</string>
		<string>کٌ</string>
		<string>لًا</string>
		<string>لٍ</string>
		<string>لٌ</string>
		<string>ماً</string>
		<string>مٍ</string>
		<string>مٌ</string>
		<string>نًا</string>
		<string>نٍ</string>
		<string>نٌ</string>
		<string>وًا</string>
		<string>وٍ</string>
		<string>وٌ</string>
		<string>ھًا</string>
		<string>ھٍ</string>
		<string>ھٌ</string>
		<string>یًا</string>
		<string>یٍ</string>
		<string>یٌ</string>
	</array>
</plist>
