<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>اَبَدًا</string>
	<string>اَحَدٌ</string>
	<string>اَخَذَ</string>
	<string>اَذِنَ</string>
	<string>اَمَرَ</string>
	<string>اَنَا</string>
	<string>بَخِلَ</string>
	<string>بَرَرَۃٍ</string>
	<string>جَعَلَ</string>
	<string>جَمَعَ</string>
	<string>حَسَدَ</string>
	<string>حَشَرَ</string>
	<string>خَشِیَ</string>
	<string>خَلَقَ</string>
	<string>خُلِقَ</string>
	<string>ذَکَرَ</string>
	<string>رَفَعَ</string>
	<string>رَقَبَةٍ</string>
	<string>سُرُرٌ</string>
	<string>سَفَرَةٍ</string>
	<string>صُحُفًا</string>
	<string>وَسَطًا</string>
	<string>طَبَقٍ</string>
	<string>طَبَقًا</string>
	<string>طُوًى</string>
	<string>عَبَسَ</string>
	<string>عَدَلَ</string>
	<string>عَلَقٍ </string>
	<string>عَمَدٍ</string>
	<string>عِنَبًا</string>
	<string>غَبَرَةٌ</string>
	<string>فَعَلَ</string>
	<string>قَتَرَةٌ</string>
	<string>قُتِلَ</string>
	<string>قَدَ رَ</string>
	<string>قُرِئَ</string>
	<string>قَسَمٌ</string>
	<string>كَبَدٍ</string>
	<string>كُتُبٌ</string>
	<string>كَسَبَ</string>
	<string>كَفَرَ</string>
	<string>لُبَدًا</string>
	<string>لُمَزَةٍ</string>
	<string>لَهَبٍ</string>
	<string>مَسَدٍ</string>
	<string>نَخِرَةً</string>
	<string>وَجَدَ</string>
	<string>وَسَقَ</string>
	<string>وَقَبَ</string>
	<string>وَلَدَ</string>
	<string>وَهَبَ</string>
	<string>هُمَزَةٍ</string>
	<string>هُدًى</string>
</array>
</plist>
