<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>ءَا</string>
	<string>اِىْ</string>
	<string>ءُوْا</string>
	<string>بَا</string>	
	<string>بِیْ</string>
	<string>بُوْا</string>
	<string>تَا</string>
	<string>تِىْ</string>
	<string>تُوْ</string>
	<string>ثَا</string>
	<string>ثِىْ</string>
	<string>ثُوْا</string>
	<string>جَا</string>
	<string>جِىْ</string>
	<string>جُوْا</string>
	<string> حَا</string>
	<string>حِىْ</string>
	<string>حُوْا</string>
	<string>خَا</string>
	<string>خِىْ</string>
	<string>خُوْا</string>
	<string>دَا</string>
	<string>دِىْ</string>
	<string>دُوْا</string>
	<string>ذَا</string>
	<string>ذِىْ</string>
	<string>ذُوْا</string>
	<string>رَا</string>
	<string>رِىْ</string>
	<string>رُوْا</string>
	<string>زَا</string>
	<string>زِىْ</string>
	<string>زُوْا</string>
	<string>سَا</string>
	<string>سِىْ</string>
	<string>سُوْا</string>
	<string>شَا</string>
	<string>شِىْ</string>
	<string>شُوْا</string>
	<string>صَا</string>
	<string>صِىْ</string>
	<string>صُوْا</string>
	<string>ضَا</string>
	<string>ضِىْ</string>
	<string>ضُوْا</string>
	<string>طَا</string>
	<string>طِىْ</string>
	<string>طُوْا</string>
	<string>ظَا</string>
	<string>ظِىْ</string>
	<string>ظُوْا</string>
	<string>عَا</string>
	<string>عِىْ</string>
	<string>عُوْا</string>
	<string>غَا</string>
	<string>غِىْ</string>
	<string>غُوْا</string>
	<string>فَا</string>	
	<string>فِىْ</string>
	<string>فُوْا</string>
	<string>قَا</string>
	<string>قِىْ</string>
	<string>قُوْا</string>
	<string>كَا</string>
	<string>كِىْ</string>
	<string>كُوْا</string>
	<string>لَا</string>
	<string>لِىْ</string>
	<string>لُوْا</string>
	<string>مَا</string>
	<string>مِىْ</string>
	<string>مُوْا</string>
	<string>نَا</string>
	<string>نِىْ</string>
	<string>نُوْا</string>
	<string>وَا</string>
	<string>وِىْ</string>
	<string>وُوْا</string>
	<string>هَا</string>
	<string>هِىْ</string>
	<string>هُوْا</string>
	<string>يَا</string>
	<string>يِىْ</string>
	<string>يُوْا</string>
</array>

</plist>
