<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

	<array>
		<string>اَوْ</string>
		<string>اَىْ</string>
		<string>بَوْ</string>
		<string>بَىْ</string>
		<string>تَوْ</string>
		<string>تَىْ</string>
		<string>ثَوْ</string>
		<string>ثَىْ</string>
		<string>جَوْ</string>
		<string>جَىْ</string>
		<string>حَوْ</string>
		<string>حَىْ</string>
		<string>خَوْ</string>
		<string>خَىْ</string>
		<string>دَوْ</string>
		<string>دَىْ</string>
		<string>ذَوْ</string>
		<string>ذَىْ</string>
		<string>رَوْ</string>
		<string>رَىْ</string>
		<string>زَوْ</string>
		<string>زَىْ</string>
		<string>سَوْ</string>
		<string>سَىْ</string>
		<string>شَوْ</string>
		<string>شَىْ</string>
		<string>صَوْ</string>
		<string>صَىْ</string>
		<string>ضَوْ</string>
		<string>ضَىْ</string>
		<string>طَوْ</string>
		<string>طَىْ</string>
		<string>ظَوْ</string>
		<string>ظَىْ</string>
		<string>عَوْ</string>
		<string>عَىْ</string>
		<string>غَوْ</string>
		<string>غَىْ</string>
		<string>فَوْ</string>
		<string>فَىْ</string>
		<string>قَوْ</string>
		<string>قَىْ</string>
		<string>كَوْ</string>
		<string>كَىْ</string>
		<string>لَوْ</string>
		<string>لَىْ</string>
		<string>مَوْ</string>
		<string>مَىْ</string>
		<string>نَوْ</string>
		<string>نَىْ</string>
		<string>وَوْ</string>
		<string>وَىْ</string>
		<string>هَوْ</string>
		<string>هَوْ</string>
		<string>يَوْ</string>
		<string>يَوْ</string>
	</array>
</plist>
