<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>اَ</string>
		<string>اِ</string>
		<string>اُ</string>
		<string>اَبْ</string>
		<string>اِبْ</string>
		<string>اُبْ</string>
		<string>اَتْ</string>
		<string>اِتْ</string>
		<string>اُتْ</string>
		<string>اَثْ</string>
		<string>اِثْ</string>
		<string>اُثْ</string>
		<string>اَجْ</string>
		<string>اِجْ</string>
		<string>اُجْ</string>
		<string>اَحْ</string>
		<string>اِحْ</string>
		<string></string>
		<string>اَخْ</string>
		<string>اِخْ</string>
		<string>اُخْ</string>
		<string>اَدْ</string>
		<string>اِدْ</string>
		<string>اُدْ</string>
		<string>اَذْ</string>
		<string>اِذْ </string>
		<string>اُذْ</string>
		<string>اَرْ</string>
		<string>اِرْ</string>
		<string>اُرْ</string>
		<string>اَزْ</string>
		<string>اِزْ</string>
		<string>اُزْ</string>
		<string>اَسْ</string>
		<string>اِسْ</string>
		<string>اُسْ</string>
		<string>اَشْ</string>
		<string>اِشْ</string>
		<string>اُشْ</string>
		<string>اَصْ</string>
		<string>اِصْ</string>
		<string>اُصْ</string>
		<string>اَضْ</string>
		<string>اِضْ</string>
		<string>اُضْ</string>
		<string>اَطْ</string>
		<string>اِطْ</string>
		<string>اُطْ</string>
		<string>اَظْ</string>
		<string>اِظْ</string>
		<string>اُظْ</string>
		<string>اَعْ</string>
		<string>اِعْ</string>
		<string>اُعْ</string>
		<string>اَغْ</string>
		<string>اِغْ</string>
		<string>اُغْ</string>
		<string>اَفْ</string>
		<string>اِفْ</string>
		<string>اُفْ</string>
		<string>اَقْ</string>
		<string>اِقْ</string>
		<string>اُقْ</string>
		<string>اَكْ</string>
		<string>اِكْ</string>
		<string>اُكْ</string>
		<string>اَلْ</string>
		<string>اِلْ</string>
		<string>اُلْ</string>
		<string>اَمْ</string>
		<string>اِمْ</string>
		<string>اُمْ</string>
		<string>اَنْ</string>
		<string>اِنْ</string>
		<string>اُنْ</string>
		<string>اَوْ</string>
		<string>اِوْ</string>
		<string>اُوْ</string>
		<string>اَهْ</string>
		<string>اِهْ</string>
		<string>اُهْ</string>
		<string>اَ</string>
		<string>اِ</string>
		<string>اُ</string>
		<string>اَيْ</string>
		<string>اِيْ</string>
		<string>اُيْ</string>
	</array>
</plist>
