<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>يَزَّكّٰي</string>
	<string>يَذَّكَّرُ</string>
	<string>اَلْمُدَّثِّرُ</string>
	<string>اَلْمُزَّمِّلُ</string>
	<string>عِلِّيِّيْنَ</string>
	<string>عِلِّيُّوْنَ</string>
	<string>يَحُضُّ</string>
	<string>مُمَدَّةٍ</string>
	<string>مُكَرَّمَةٍ</string>
	<string>مُطَهَّرَةٍ</string>
	<string>وَٱلسَّمَآءِ</string>
	<string>وَٱلتَّرَآئِبِ </string>
	<string>وَالنّٰشِطٰتِ</string>
	<string>وَالنّٰزِعٰتِ</string>
	<string>وَالسّٰبِحٰتِ</string>
	<string>فَالْمُدَبَّرٰتِ</string>
	<string>فَٱلسَّـٰبِقَـٰتِ</string>
	<string>مِمَّ </string>
	<string>اَللّٰهُمَّ</string>
	<string>يُسْرًا</string>
	<string>جَزَآءً</string>
	<string>ٱلْمَلَـٰٓئِكَةُ</string>
	<string>اَبْصَارُهَا </string>
	<string>وَّاَنْزَلْنَا</string>
	<string>ءَآلْـَٔـٰنَ</string>
</array>
</plist>
