<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>اَنْتَ</string>
	<string>اِهْدِ</string>
	<string>بَعْدُ</string>
	<string>بَطْشَ</string>
	<string>سَعْىَ</string>
	<string>كُنْتُ</string>
	<string>لَسْتَ</string>
	<string>اَمْرٍ</string>
	<string>بَرْدًا</string>
	<string>جَمْعًا</string>
	<string>حَبْلٌ</string>
	<string>خُسْرٍ</string>
	<string>خَلْقًا</string>
	<string>سَبْحًا</string>
	<string>سَبْقًا</string>
	<string>شَاْنٌ</string>
	<string>صُبْحًا</string>
	<string>ضَبْحًا</string>
	<string>عَبْدًا</string>
	<string>عَدْنٍ</string>
	<string>عَشْرٍ</string>
	<string>عَصْفٍ</string>
	<string>غَرْقًا</string>
	<string>غُلْبًا</string>
	<string>فَصْلٌ</string>
	<string>قَدْحًا</string>
	<string>قَضْبًا</string>
	<string>كَاْسًا</string>
	<string>كَدْحًا</string>
	<string>لَغْوًا</string>
	<string>مِسْكٌ</string>
	<string>نَخْلًا</string>
	<string>نَشْطًا</string>
	<string>نَفْسٍ</string>
	<string>نَقْعًا</string>
	<string>اَبْقٰى</string>
	<string>تَرْضٰى</string>
	<string>تَنْسٰى</string>
	<string>يَخْشٰى</string>
	<string>يَسْعٰى</string>
	<string>يَتْلُوْا</string>
	<string>يَدْعُوْا</string>
	<string>تَجْرِىْ</string>
	<string>يَهْدِىْ</string>
	<string>يُغْنِىْ</string>
	<string>اَلْقَتْ</string>
	<string>اَمْهِلْ</string>
	<string>اِقْرَاْ</string>
	<string>فَارْغَبْ</string>
	<string>فَانْصَبْ</string>
	<string>وَانْحَرْ</string>
	<string>اَخْرَجْ</string>
	<string>اَرْسَلَ</string>
	<string>اَغْطَشَ</string>
	<string>اَفْلَحَ</string>
	<string>اَكْرَمَ</string>
	<string>اَلْهَمَ</string>
	<string>اَنْشَرَ</string>
	<string>اَنْقَضَ</string>
	<string>دَمْدَمَ</string>
	<string>عَسْعَسَ</string>
	<string>اَعْبُدُ</string>
	<string>نَعْبُدُ</string>
	<string>يَخْرُجُ</string>
	<string>يَحْسَبُ</string>
	<string>يَشْرَبُ</string>
	<string>يَشْهَدُ</string>
	<string>تَرْهَقُ</string>
	<string>تَعْرِفُ</string>
	<string>اُقْسِمُ</string>
	<string>يُبْدِئُ</string>
	<string>يُنْفَخُ</string>
	<string>يَنْقَلِبُ</string>
	<string>يُوَسْوِسُ</string>
	<string>ثَقُلَتْ</string>
	<string>حُشِرَتْ</string>
	<string>سُطِحَتْ</string>
	<string>كُشِطَتْ</string>
	<string>نُشِرَتْ</string>
	<string>نُصِبَتْ</string>
	<string>تَقْوِيْمٍ</string>
</array>
</plist>
