<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>اَبَّ</string>
	<string>اَبِّ</string>
	<string>اَبُّ</string>
	<string>اِبَّ</string>
	<string>اِبِّ</string>
	<string>اِبُّ</string>
	<string>اُبَّ</string>
	<string>اُبِّ</string>
	<string>اُبُّ</string>
	<string>اَبًّا</string>
	<string>اَبٍّ</string>
	<string>اَبٌّ</string>
	<string>اِبًّا</string>
	<string>اِبٍّ</string>
	<string>اِبٌّ</string>
	<string>اُبًّا</string>
	<string>اُبٍّ</string>
	<string>اُبٌّ</string>
	<string>اَتَّ</string>
	<string>اَتِّ</string>
	<string>اَتُّ</string>
	<string>اِتَّ</string>
	<string>اِتِّ</string>
	<string>اِتُّ</string>
	<string>اُتَّ</string>
	<string>اُتِّ</string>
	<string>اُتُّ</string>
	<string>اَتًّا</string>
	<string>اَتٍّ</string>
	<string>اَتٌّ</string>
	<string>اِتًّا</string>
	<string>اِتٍّ</string>
	<string>اِتٌّ</string>
	<string>اُتًّا</string>
	<string>اُتٍّ</string>
	<string>اُتٌّ</string>
	<string>اَثَّ</string>
	<string>اَثِّ</string>
	<string>اَثُّ</string>
	<string>اِثَّ</string>
	<string>اِثِّ</string>
	<string>اِثُّ</string>
	<string>اُثَّ</string>
	<string>اُثِّ</string>
	<string>اُثِّ</string>
	<string>اَثًّا</string>
	<string>اَثٍّ</string>
	<string>اَثٌّ</string>
	<string>اِثًّا</string>
	<string>اِثٍّ</string>
	<string>اِثٌّ</string>
	<string>اُثًّا</string>
	<string>اُثٍّ</string>
	<string>اُثٌّ</string>
	<string>اَجَّ</string>
	<string>اَجِّ</string>
	<string>اَجُّ</string>
	<string>اِجَّ</string>
	<string>اِجِّ</string>
	<string>اِجُّ</string>
	<string>اُجَّ</string>
	<string>اُجِّ</string>
	<string>اُجُّ</string>
	<string>اَجًّا</string>
	<string>اَجٍّ</string>
	<string>اَجٌّ</string>
	<string>اِجًّا</string>
	<string>اِجٍّ</string>
	<string>اِجٌّ</string>
</array>
</plist>
