<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>إِنَّآ أَعْطَيْنَـا</string>
	<string> إِلَيْنَآ إِيَابَهُمْ </string>
	<string>خَيْرًا يَّرَه</string>
	<string>شَرًّايَّرَه</string>
	<string>مِيْقَاتًايَّوْمَ</string>
	<string>فَمَنْ يَّعْمَلْ</string>
	<string>مِنْ رَّبِّكَ </string>
	<string>صُحُفًامُّطَهَّرَةً</string>
	<string>سِرَاجًا وَّهَّاجًا</string>
	<string> اَكْلًا لَّمًّا</string>
	<string>غُثَآءً أَحْوَىٰ</string>
	<string>مُعْتَدٍ اَثِيْمٍ</string>
	<string>اِذَاتُتْلٰى</string>
	<string> نَارًا حَامِيَةً</string>
	<string>مَنْ بَخِلَ </string>
	<string>لَيُنْبَذَنَّ</string>
	<string>مِنْ بَعْدِ</string>
	<string>بِذَنْبِهِمْ </string>
	<string>مُطَهَّرَةٍ</string>
	<string>هُمْ فِيْهَا</string>
</array>
</plist>
