<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string> ضَآلًّا</string>
	<string>دَآبَّةٍ </string>
	<string>حَآجَّكَ </string>
	<string>حَآجُّوكَ</string>
	<string>لَضَآلُّونَ </string>
	<string>وَلَا ٱلضَّآلِّينَ </string>
	<string>أَتُحَـٰٓجُّوٓنِّى</string>
	<string> وَلَا تَحَـٰٓضُّونَ </string>
	<string>وَٱلصَّـٰٓفَّـٰتِ </string>
	<string> جَآءَتِ ٱلصَّآخَّةُ </string>
</array>
</plist>
