<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>فَعَّالٌ لِّمَا يُرِيْدُ</string>
	<string>مِن شَرِّ ٱلنَّفَّـٰثَـٰتِ </string>
	<string>إِذَا ٱلسَّمَآءُ ٱنشَقَّتْ </string>
	<string>مَا الطَّارِقُ النَّجْمُ الثِّاقِبُ</string>
	<string>مِنْ شَرِّ الْوَسْوَاسِ الْخَنَّاسِ</string>
	<string>اِهْدِ نَا الصِّرَاطَ الْمْسْتَقَيْم</string>
	<string>فَإِذَا جَآءَتِ ٱلطَّآمَّةُ ٱلْكُبْرَىٰ</string>
	<string>يَوْمَئِذٍ يَصْدُرُ ٱلنَّاسُ</string>
	<string>رَسُوْلٌ مِّنَ اللّٰهِ</string>
	<string>قُلُوْبٌ يَّوْمَءِذً وَّاجِفَةٌ</string>
	<string>وَّتُحِبُّوْنَ الْمَالَ حُبًّا جَمًا</string>
	<string>تُسْقٰى مِنْ عَيْنٍ اٰنِيَةٍ</string>
	<string> مِنْ بَيْنِ الصُّلْبِ</string>
	<string> لَنَسْفَعًا بِالنَّاصِيَةِ</string>
	<string>بٍاَيْدِىْ سَفَرَةٍ كِرَامٍ بَرَرَةٍ</string>
	<string> لَكُمْ دِيْنُكُمْ وَلِىَ دِيْنِ</string>
	<string>اِنَّ رَبَّهُمْ بِهِمْ </string>
	<string>تَرْمِيْهِمْ بِحِجَارَةٍ</string>
	<string>لَهُم مَّا يَشَآءُونَ </string>
	<string>اِهْدِ نَا الصِّرَاطَ الْمْسْتَقَيْم</string>
</array>
</plist>
