<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>اِنَّ الَّذِيْنَ</string>
	<string>اِلَّا الَّذِيْنَ</string>
	<string>أَعْطَيْنَـٰكَ ٱلْكَوْثَرَ </string>
	<string>فَاِنَّ الْجَنَّةَ</string>
	<string>لِحُبِّ الْخَيْرِ</string>
	<string>نُيَسِّرُهُمُ الْبَيِّنَةُ</string>
	<string>تُبْلَى ٱلسَّرَآئِرُ</string>
	<string>فَمَهِّلِ الْكٰفِرِيْنَ</string>
	<string>بِا لْخُنَّسِ</string>
	<string>الْجَوَارِالْكُنَّسِ</string>
</array>
</plist>
