<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<array>
		<string>المفردات</string>
		<string>المركبات</string>
		<string>حروف المقطعات</string>
		<string>الحركات</string>
		<string>التنوين</string>
		<string>مشق حركات و تنوين</string>
		<string>مد اصلي</string>
		<string>مد و لين</string>
		<string>مشق  مد اصلي و لين</string>
		<string>سكون</string>
		<string>مشق سكون</string>
		<string>تشديد</string>
		<string>مشق تشديد</string>
		<string>مشق تشديد مع سكون</string>
		<string>تشديد مع تشديد</string>
		<string>تشديد بعد حروف مده</string>
		<string>الحروف  ١</string>
		<string>الحروف ٢</string>
		<string>الحروف ٣ </string>
	</array>
</plist>
